.main {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.commentWrapper {
  border-top: 1px solid #b6b6b6;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px #cacaca;
  margin-top: 1rem;
}

.commentAuthor {
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-bottom: 6px;
  color: rgb(90, 90, 90);
}

.createdAt {
  text-align: end;
  color: #797979;
}