.main {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAE8EB;
}

.editButton {
  padding: 10px 20px;
  border: none;
  border-radius: 1rem;
  background-color: rgb(0, 66, 87);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}

.editForm {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: white;
}

.sectionWrapper {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;

}

.title {
  color: black;
  font-size: 46px;
  font-weight: bold;
}

.paragraph {
  font-size: 18px;
}

.img {
  width: 100%;
}

.createdAt {
  text-align: end;
  color: #797979;
}

.wrapperClass {
  padding: 1rem;
  border: 1px solid #ccc;
}

.editorClass {
  padding: 1rem;
  border: 1px solid #ccc;
}

.toolbarClass {
  border: 1px solid #ccc;
}