.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae8eb;
}

.sectionWrapper {
  max-width: 1300px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.title {
  color: black;
  font-size: 46px;
  font-weight: bold;
}

.paragraph {
  font-size: 18px;
  margin-top: 1rem;
}

.img {
  width: 100%;
}

.postInfoDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.commentWrapper {
  border-top: 1px solid #b6b6b6;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px #cacaca;
  margin-top: 1rem;
}

.commentAuthor {
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-bottom: 6px;
  color: rgb(90, 90, 90);
}

.createdAt {
  text-align: end;
  color: #797979;
}

.tag {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #bcbb80;
  color: #bcbb80;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: 0.5s;
}

.tag:hover {
  color: white;
  background-color: #bcbb80;
}

.addComment {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
